.header { 
    height: 100vh; 
    background-color: var(--dark-navy);
    margin: 0 auto; 
    display: none;
}

/* navbar */

.nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 0 5%;
}

.nav-list {
    display: flex; 
    font-family: var(--font-mono), Arial, serif;
}

.nav-list__item { 
    margin-right: 40px;
    
}

.nav-list__item:last-child { 
    margin: 0; 
}

.nav-list__item a { 
    color: #8395a7;
    font-weight: 700;
    transition: .3s;
}

.nav-list__item a span { 
    color: var(--cyan);
}

.nav-list__item a:hover { 
    color: var(--cyan);
}
/* header-intro */
.header-intro { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}
.header-intro__text { 
    font-size: 16px;
    line-height: 17.6px;
    font-weight: light;
    color: var(--cyan);
    font-family: var(--font-mono);
}


.header-intro__main { 
    color: #fff;
    font-size: clamp(30px, 5em, 65px);
    margin-top: 40px;
    /* text-shadow: 2px 2px var(--dark); */
}

.header-intro__second { 
    color: var(--gray);
    font-size: clamp(30px, 5em, 65px);

    margin: 0;
    margin-bottom: 20px;
}

.header-intro__descr { 
    color: var(--gray);
    max-width: 35%;
    margin-bottom: 40px;
    line-height: 1.4;
}

.header-intro__btn { 
    color: var(--cyan);
    font-family: var(--font-mono), monospace;
    font-size: 1.1em;
    background: transparent;
    border: var(--cyan) 2px solid;
    padding: 15px 30px 15px 30px;
    border-radius: 3px;
    transition: .3s;
}


.header-intro__btn:hover { 
    background-color: #00d3d34d;
    /* color: var(--dark-navy) */
}